.array-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;  
  width: 100%;
  height: 80%;
}

#resetBtn{
  height: 30px;
}

.array-bar {
  width: 20px;
  display: inline-block;
  margin: 0 1px;
  border: 2px solid black;
  border-radius: 7px;
}

.slider{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
}
#speedText {
  color: #F7FF02;
}
.sliderInput{
  color:red;
}

input[type="range"] {
  width:300px;
}
